@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
#header{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;}
#header .header1{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex: 1;
}
#header .header2{
    /* background-color: aqua; */
    flex: 1;
}
#header .header1 img{
    width: 50px;
}
.header3{
    display: flex;
    justify-content: space-between;
    flex: 1;
    font-size: 1.5rem;
}
.header3 li{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-right: 3px solid violet;
    width: 130px;
    height: 30px;-
    text-align: center;
    /* list-style: none; */
}
.header3 li:last-child{
    border: none;
}
.header3 li a{
    text-decoration: none;
    
}
.ht{
    display: flex;
    text-align: center;
    align-items: center;
}

#footer{
    background-color: #71a275;
}